<!DOCTYPE html>
<html lang="pt-BR">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>SGB | {{usertype.title()}}</title>

  <link rel="stylesheet" href=" {{ url_for('static', filename='css/templates.css') }} ">
  <link rel="stylesheet" href=" {{ url_for('static', filename='css/header.css') }} ">
  <link rel="stylesheet" href=" {{ url_for('static', filename='css/footer.css') }} ">
  <link rel="stylesheet" href=" {{ url_for('static', filename='css/base.css') }} ">
  <link rel="stylesheet" href=" {{ url_for('static', filename='css/books.css') }} ">
  <link rel="stylesheet" href="{{ url_for('static',filename='css/form.css') }}">
</head>
<body>
  {% if usertype == 'client' %}
  <header>
    <div class="profile">
      <p><strong>Cliente:</strong> {{user.get_name()}}</p>
    </div>
    <nav class="menu">
      <ul>
        <li><a href="/profile">Perfil</a></li>
        <li><a href="/books">Livros</a></li>
        <li><a href="/return">Devolução</a></li>
      </ul>
    </nav>
    <div class="buttons">
      <a href="/index" class="btn-red">
        <button class="btn btn-red" style="min-width:100px;">Logout</button>
      </a>
      <button onclick="openMenu()" class="btn btn-blue" style="min-width:100px;height:45px; margin: auto 0 auto 1rem;">Menu</button>
    </div>
    <nav class="hamburguer">
      <ul>
        <li><a href="/profile">Perfil</a></li>
        <li><a href="/books">Livros</a></li>
        <li><a href="/return">Devolução</a></li>
      </ul>
      <button onclick="closeMenu()" class="btn btn-blue" style="min-width:100px;">Fechar</button>
    </nav>
  </header>
  {% elif usertype == 'student' %}
  <header>
    <div class="profile">
      <p><strong>Estudante:</strong> {{user.get_name()}}</p>
    </div>
    <nav class="menu">
      <ul>
        <li><a href="/profile">Perfil</a></li>
        <li><a href="/books">Livros</a></li>
        <li><a href="/return">Devolução</a></li>
      </ul>
    </nav>
    <div class="buttons">
      <a href="/index" class="btn-red">
        <button class="btn btn-red" style="min-width:100px;">Logout</button>
      </a>
      <button onclick="openMenu()" class="btn btn-blue" style="min-width:100px;height:45px; margin: auto 0 auto 1rem;">Menu</button>
    </div>
    <nav class="hamburguer">
      <ul>
        <li><a href="/profile">Perfil</a></li>
        <li><a href="/books">Livros</a></li>
        <li><a href="/return">Devolução</a></li>
      </ul>
      <button onclick="closeMenu()" class="btn btn-blue" style="min-width:100px;">Fechar</button>
    </nav>
  </header>
  {% else %}
  <header>
    <div class="profile">
      <p><strong>Funcionário:</strong> {{user.get_name()}}</p>
    </div>
    <nav class="menu">
      <ul>
        <li><a href="/publishers">Editoras</a></li>
        <li><a href="/books">Livros</a></li>
        <li><a href="/clients">Clientes</a></li>
        <li><a href="/employees">Outros funcionários</a></li>
      </ul>
    </nav>
    <div class="buttons">
      <a href="/index" class="btn-red">
        <button class="btn btn-red" style="min-width:100px;">Logout</button>
      </a>
      <button onclick="openMenu()" class="btn btn-blue" style="min-width:100px;height:45px; margin: auto 0 auto 1rem;">Menu</button>
    </div>
    <nav class="hamburguer">
      <ul>
        <li><a href="/publishers">Editoras</a></li>
        <li><a href="/books">Livros</a></li>
        <li><a href="/clients">Clientes</a></li>
        <li><a href="/employees">Outros funcionários</a></li>
      </ul>
      <button onclick="closeMenu()" class="btn btn-blue" style="min-width:100px;">Fechar</button>
    </nav>
  </header>
  {% endif %}

  {% block books %}
  {% endblock %}

  {% block clients %}
  {% endblock %}

  {% block employees %}
  {% endblock %}

  {% block publishers %}
  {% endblock %}

  {% block back %}
  {% endblock %}

  <footer>
    Projeto desenvolvido por Eduardo e Fernanda
  </footer>

  <script>
    const openMenu = () => {
      const nav = document.querySelector('nav.hamburguer')
      nav.style.display = 'block'
    }
    const closeMenu = () => {
      const nav = document.querySelector('nav.hamburguer')
      nav.style.display = 'none';
    }
  </script>
</body>
</html>
