<!DOCTYPE html>
<html lang="pt-BR">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>SGB | {{usertype.title()}}</title>

  <link rel="stylesheet" href=" {{ url_for('static', filename='css/templates.css') }} ">
</head>
<body>
  <h1>BASE</h1>
  {% if usertype == 'client' %}
  <header>
    <nav>
      <ul>
        <li><a href="/index">Logout</a></li>
      </ul>
    </nav>
  </header>
  {% else %}
  <header>
    <nav>
      <ul>
        <li><a href="/index">Logout</a></li>
      </ul>
    </nav>
  </header>
  {% endif %}

  

  {% block content %}

  {% endblock %}

  <footer>
    Projeto desenvolvido por Eduardo e Fernanda
  </footer>
</body>
</html>