<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>BIBLIOTECA</title>

  <link rel="stylesheet" href=" {{ url_for('static', filename='css/base.css') }} ">
</head>
<body>
  <header>
    <nav>
      <ul>
        <li><a href="/index">Página Inicial</a></li>
        <li><a href="/register">Cadastro</a></li>
        <li><a href="/login">Login</a></li>
        <li><a href="/books">Mostrar livros</a></li>
        <li><a href="/logout">Logout</a></li>
      </ul>
    </nav>
    <img class="profile-pic" src="{{ url_for('static', filename='images/profile-picture.jpg') }}" alt="Teste"/>
  </header>

  {% block content %}

  {% endblock %}

  <footer>
    Projeto desenvolvido por Eduardo e Fernanda
  </footer>
</body>
</html>