<!DOCTYPE html>
<html lang="pt-BR">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <link rel="stylesheet" href="{{ url_for('static', filename='css/templates.css') }}">
  <link rel="stylesheet" href="{{ url_for('static', filename='css/books.css') }}">

  <title>SGB | Lista de Livros</title>
</head>
<body>
  <h1 style="padding-top:20px">Lista de livros disponíveis</h1>
  <main class="books-list">
    {% for key, genre in supergenres.items() %}
      <section class="books-theme">
        <h2>Livros de {{genre}}</h2>
        <div class="books">
          {% for book in books_list %}
            {% if book %}
              {% if book.get_supergenre() == key %}
                <div class="book">
                  <h2 class="book-title">{{book.get_title()}}</h2>
                  <hr>
                  <h4 class="book-publisher"> Editora: {{book.get_publisher().get_corp_name()}}</h4>
                  <hr>
                  <h4 class="book-author">Autor: {{book.get_author()}}</h4>
                  <hr>
                  <h4 class="book-leased">Alugados: {{book.get_leased_amount()}}</h4>
                  <hr>
                  <h4 class="book-available">Disponíveis: {{book.get_available_amount()}}</h4>
                  <h4></h4>
                  <article class="book-bio">{{book.get_bio()}}</article>
                  <a href="/books/{{book.get_id()}}" class="mtop-2 mbottom-1 btn-yellow">
                    <button class="btn btn-yellow">Detalhes</button>
                  </a>
                </div>
              {% endif %}
            {% endif %}
          {% endfor %}
        </div>
      </section>
    {% endfor %}

    <a class="btn-red mtop-2 mbottom-2" href="/books">
      <button class="btn btn-red">Voltar</button>
    </a>
  </main>  
  

  {% block back%}
  
  {% endblock %}
</body>
</html>