{% extends 'base.html' %}

{% block books%}
  <div class="container padding-top-2">
    <main>
      <h2>Detalhes do livro <br/>{{book.get_title()}}</h2>
      <form>
        <label for="id">
          Id:
          <input value="{{book.get_id()}}" type="text" id="id" name="id" disabled>
        </label>
        <label for="title">
          Título:
          <input value="{{book.get_title()}}" type="text" id="title" name="title"disabled>
        </label>
        <label for="publisher">
          Editora:
          <input value="{{book.get_publisher().get_corp_name()}}" type="text" id="publisher" name="publisher"disabled>
        </label>
        <label for="author">
          Autor:
          <input value="{{book.get_author()}}" type="text" id="author" name="author"disabled>
        </label>
        <label for="supergenre">
          Gênero:
          <input value="{{book.get_supergenre()}}" type="text" id="supergenre" name="supergenre"disabled>
        </label>
        <label for="subgenre">
          Sub-gênero:
          <input value="{{book.get_subgenre()}}" type="text" id="subgenre" name="subgenre"disabled>
        </label>
        <label for="subgenre">
          Bio:
          <textarea type="text" id="bio" name="bio"disabled >{{book.get_bio()}}</textarea>
        </label>
        <label for="pgs-number">
          Número de páginas:
          <input value="{{book.get_pgs_number()}}" type="text" id="pgs-number" name="pgs-number"disabled>
        </label>
        <label for="total-amount">
          Quantidade total:
          <input value="{{book.get_total_amount()}}" type="text" id="total-amount" name="total-amount"disabled>
        </label>
        <label for="leased-amount">
          Quantidade alugada:
          <input value="{{book.get_leased_amount()}}" type="text" id="leased-amount" name="leased-amount"disabled>
        </label>
        <label for="available-amount">
          Quantidade disponível:
          <input value="{{book.get_available_amount()}}" type="text" id="available-amount" name="available-amount"disabled>
        </label>

      </form>
    </main>

    <a class="btn-blue mtop-2 mbottom-2" href="/books/update/{{book.get_id()}}">
      <button class="btn btn-blue">Alterar livro</button>
    </a>

    <a class="btn-red mtop-2" href="/books">
      <button class="btn btn-red">Voltar</button>
    </a>
  </div>
{% endblock %}


  
