{% extends 'base.html' %}

{% block clients %}
  {% if usertype == 'employee' %}
    <nav>
      <a class="btn-green mtop-2 mbottom-2" href="/clients/create">
        <button class="btn btn-green">Criar Cliente</button>
      </a>
    </nav>
    <main class="books-list">
      <section class="books-theme">
        <h2>Clientes cadastrados no sistema</h2>
        {% set messages = get_flashed_messages() %} 
				  {% if messages %}
				    {% for msn in messages %}
				      <div class="span-success">
				        <p>{{msn}}</p>
				      </div>
				    {% endfor %}
				  {% endif %}
        <div class="books">
          {% for i in people_dict['clients'] %}
            <div class="book">
              <h2 class="person-name">Nome: {{i.get_name()}}</h2>
              <hr>
              <h4 class="person-cpf">CPF: {{i.get_cpf()}}</h4>
              <hr>
              <h4>Livros alugados: </h4>
              {% for j in i.get_rented() %}
                <article class="rented">{{j.get_title()}}</article>
              {% endfor %}
              <hr>
              <a href="/clients/update/clients/{{people_dict['clients'].index(i)}}">
              	<button class="btn btn-yellow">Atualizar</button>
              </a>
              <a href="/clients/delete/clients/{{people_dict['clients'].index(i)}}">
              	<button class="btn btn-red">Excluir</button>
              </a>
            </div>
          {% endfor %}
          {% for i in people_dict['students'] %}
            <div class="book">
              <h2 class="person-name">Nome: {{i.get_name()}}</h2>
              <h3>Estudante</h3>
              <hr>
              <h4 class="person-cpf">CPF: {{i.get_cpf()}}</h4>
              <hr>
              <h4>Livros alugados: </h4>
              {% for j in i.get_rented()%}
                <article class="rented">{{j}}</article>
              {% endfor %}
              <hr>
              <a href="/clients/update/students/{{people_dict['students'].index(i)}}">
              	<button class="btn btn-yellow">Atualizar</button>
              </a>
              <a href="/clients/delete/students/{{people_dict['students'].index(i)}}">
              	<button class="btn btn-red">Excluir</button>
              </a>
            </div>
          {% endfor %}
        </div>
      </section>
    </main>  
  {% else %}
  {% endif %}

{% endblock %}

{% block back %}
  <a class="btn-red mtop mbottom-2" href="/main">
    <button class="btn btn-red">Voltar</button>
  </a>
{% endblock %}
