{% extends 'base.html' %}

{% block content %}

  {% set mensagens = get_flashed_messages() %} <!--Pode ser usado with no lugar de set-->
  {% if mensagens %}
    <div>
      {% for msg in mensagens %}
        <p>{{msg}}</p>
      {% endfor %}
    </div>
  {% endif %}

  <form action="/auth_person" method="post">
    <label for="user">
      Name:
      <input type="text" name="user">
    </label>
    <label for="password">
      Password:
      <input type="text" name="password">
    </label>
    <button type="submit">Fazer login</button>
  </form>
{% endblock %}