<!DOCTYPE html>
<html lang="pt-BR">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  
  <link rel="stylesheet" href="{{ url_for('static',filename='css/templates.css') }}">
  <link rel="stylesheet" href="{{ url_for('static',filename='css/index.css') }}">

  <title>SGB | Login</title>
</head>
<body>
  <div class="container padding-top-10">
    <main>
      <h2>Fazer Login como:</h2>

      <a class="btn-blue" href="/login/client">
        <button class="btn btn-blue">Cliente</button>
      </a>
      
      <a class="btn-blue" href="/login/student">
        <button class="btn btn-blue">Estudante</button>
      </a>

      <a class="btn-blue" href="/login/employee">
        <button class="btn btn-blue">Funcionário</button>
      </a>
    </main>

    <a class="btn-red mtop" href="/index">
      <button class="btn btn-red">Voltar</button>
    </a>
  </div>
</body>

  <!--Pode ser usado with no lugar de set-->
  <!-- {% set mensagens = get_flashed_messages() %} 
  {% if mensagens %}
    <div>
      {% for msg in mensagens %}
        <p>{{msg}}</p>
      {% endfor %}
    </div>
  {% endif %} -->

  
