{% extends 'base.html' %}
{% block clients %}
  <div class="container padding-top-5">
    <main>
      {% set flashed = get_flashed_messages() %} 
      {% if flashed %}
        {% for m in flashed %}
          <div class="span-error">
            <p>{{m}}</p>
          </div>
        {% endfor %}
      {% endif %}
      <h2>Você relamente deseja alugar o livro {{book.get_title()}}</h2>
      <a class='btn-green' href="/rent/validation/{{book.get_id()}}">
        <button class="btn btn-green">Alugar</button>
      </a>
      <a class="btn-red" href="/books">
        <button class="btn btn-red">Cancelar</button>
      </a>
    </main>
  </div>
{% endblock %}