<!DOCTYPE html>
<html lang="pt-BR">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <link rel="stylesheet" href="{{ url_for('static', filename='css/templates.css') }}">
  <link rel="stylesheet" href="{{ url_for('static', filename='css/books.css') }}">

  <title>SGB | Lista de livros</title>
</head>
<body>
  <h1>Lista de Livros disponíveis</h1>

  <main class="books-list">
    <section class="books-theme">
      <h2>Livros de Assunto</h2>
      <div class="books">
        <div class="book">
          <h1 class="book-title">Título</h1>
          <h4 class="book-author">Autor: </h4>
          <article class="book-bio">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Pariatur voluptatum, modi at aspernatur, nulla voluptates, odit totam labore cupiditate repellendus unde minus est? Dicta dignissimos vel consequuntur voluptatibus enim. Veniam.
          </article>
          <button class="btn btn-yellow">Detalhes</button>
          <button class="btn btn-green">Alugar</button>
        </div>
        <div class="book">
          <h1 class="book-title">Título</h1>
          <h4 class="book-author">Autor: </h4>
          <article class="book-bio">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Pariatur voluptatum, modi at aspernatur, nulla voluptates, odit totam labore cupiditate repellendus unde minus est? Dicta dignissimos vel consequuntur voluptatibus enim. Veniam.
          </article>
          <button class="btn btn-yellow">Detalhes</button>
          <button class="btn btn-green">Alugar</button>
        </div>
        <div class="book">
          <h1 class="book-title">Título</h1>
          <h4 class="book-author">Autor: </h4>
          <article class="book-bio">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Pariatur voluptatum, modi at aspernatur, nulla voluptates, odit totam labore cupiditate repellendus unde minus est? Dicta dignissimos vel consequuntur voluptatibus enim. Veniam.
          </article>
          <button class="btn btn-yellow">Detalhes</button>
          <button class="btn btn-green">Alugar</button>
        </div>
        <div class="book">
          <h1 class="book-title">Título</h1>
          <h4 class="book-author">Autor: </h4>
          <article class="book-bio">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Pariatur voluptatum, modi at aspernatur, nulla voluptates, odit totam labore cupiditate repellendus unde minus est? Dicta dignissimos vel consequuntur voluptatibus enim. Veniam.
          </article>
          <button class="btn btn-yellow">Detalhes</button>
          <button class="btn btn-green">Alugar</button>
        </div>
      </div>
    </section>
  </main>

  <a href="/index" class="btn-red">
    <button class="btn btn-red">Voltar</button>
  </a>
</body>
</html>